<!DOCTYPE html>
<html>
  <head>
    <title>Ísland úr NATO</title>
    <link rel='stylesheet' href='./styles.css' />
  </head>
  <body>
    <div class="container">
    <h1>Undirskriftarlisti</h1>
    <form action="/insert" method="post" enctype="application/x-www-form-urlencoded">
      <div class="userinput">
      <label>Nafn</label>
      <input class="form-control" type="text" name="name">
    </div>
    <div class="userinput">
      <label>Kennitala</label>
      <input type="text" name="nationalId">
    </div>
    <div class="userinput">
      <label>Athugasemd </label>
      <textarea name="comment" palceholder="Search here" rows="7" cols="40"></textarea>
     </div>
     <div class="lefty">
      <input type="checkbox"  name="anonymous" >
      <label for="anonymous">Ekki birta nafn á lista</label>
    </div>
      <button type="submit">Skrifa undir</button>
    </div>
  </form>
  <table>
    <tr>
      <th>Dags</th>
      <th>Nafn</th>
      <th>Athugasemd</th>
    </tr>
      <% model.forEach(m => {%>
            <tr><th><%= m.signed %></th>
              <% if (!m.anonymous) { %>
                <td><%= m.name %></td>
              <% } %>
            <td><%= m.comment %></td</tr>
            <% }) %>
          </table>
  </body>
</html>
